<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dhe.digital.library.haryana">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalLibraryHaryana"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.activity.BooksAvailableinLibrary"
            android:label="@string/title_activity_books_availablein_library"
            android:theme="@style/DigitalLibraryHaryana"></activity>
        <activity
            android:name=".ui.activity.PeopleCornerActivity"
            android:theme="@style/DigitalLibraryHaryana"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ui.activity.HearingSpeechActivity"
            android:theme="@style/DigitalLibraryHaryana" />
        <activity
            android:name=".ui.activity.DivyaangActivity"
            android:theme="@style/DigitalLibraryHaryana" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.SignupActivity"
            android:theme="@style/DigitalLibraryHaryana"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:theme="@style/DigitalLibraryHaryana"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/DigitalLibraryHaryana"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.NotificationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.NotificationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.OpenBooksActivity"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.ViewAllDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.CompetitiveExamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana" />
        <activity android:name=".ui.activity.BooksDeatilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DigitalLibraryHaryana" />
    </application>

</manifest>